<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>name</th>
      <th>email</th>
      <th>age</th>
      <th>*</th>
    </tr>
  </thead>

  <tbody *ngIf="StudentsArr.length > 0">
    <tr *ngFor="let student of StudentsArr">
      <td>
        <div class="checkbox" (click)="deleteToggle(student)"></div>
      </td>
      <td>
        {{ student.name }}
      </td>

      <td>
        {{ student.email }}
      </td>
      <td>
        {{ student.age }}
      </td>
      <td>
        <button
          type="button"
          class="btn btn-primary"
          (click)="openModal(template, student)"
        >
          edit student
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteItem(student.id)"
        >
          delete student
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="StudentsArr.length <= 0">No data</div>
<ng-template #template>
  <div class="modal-body">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="name"
        />
      </div>
      <div>
        <input
          id="email"
          type="text"
          formControlName="email"
          placeholder="email"
        />
      </div>
      <div>
        <input id="age" type="text" formControlName="age" placeholder="age" />
      </div>

      <button
        type="submit"
        [disabled]="!studentForm.valid"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
</ng-template>
